<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenAlarm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98B4FBD815454CE900E821CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBE43EE155BBF9D00CAD5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBE43FB155BBF9D00CAD5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBE4417155BC03600CAD5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
